<button id='{{ button_id }}'
  class="radicati-button radicati-button__{{ label_display }}"
  aria-controls="{{ aria_controls }}"
  data-handle-click="{{ handle_click }}"
  data-alt-icon-classes="{{ icon_classes_active }}">
{% if icon_classes %}<i class="{{ icon_classes }}"></i>{% endif %}

  <span class="radicati-button__label">{{ button_label }}</span>
</button>